.form {
  max-width: 38.25rem;
  margin: 2rem auto;
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.form label {
  display: none;
}

.form input {
  display: block;
  width: 85%;
  font: inherit;
  font-size: 1.2rem;
  padding: .8rem;
  border-radius: 4px;
  background-color: #333;
  margin-right: .5em;
  border: 2px solid #7b828b;
  color:#ddd;
}

.form input:focus{
  color: #FFF;
}

.form input:placeholder{
  color: rgba(255,255,255,1);
}

.form button {
  font: inherit;
  font-size: 2.2em;
  line-height: 1;
  background-color: #c797dd;
  border: none;
  color: #333;
  font-weight: 700;
  padding: .6rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition:.5s;
}

.form button:hover,
.form button:active {
  background-color: #deacf5;
}

input[type=checkbox]{
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #333;
  /* Not removed via appearance */
  border:none;
  margin: 0 0 0 1rem;
  font: inherit;
  color: #c797dd;
  width: 2rem;
  height: 2rem;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 1rem;
  height: 1rem;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  border:none;
  /* Windows High Contrast Mode */
  background-color: #c797dd;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
  border:none;
}

input[type="checkbox"]:disabled {
  --form-control-color: var(--form-control-disabled);

  color: var(--form-control-disabled);
  cursor: not-allowed;
}

